$main-color: #FF7F5C;
$secondary-color: #3D5161;
$third-color: #F9F5F3;
$fourth-color: #00CBC0;



.bg-main {
    background-color: $main-color;
  }
  .bg-secondaryColor {
    background-color: $secondary-color;
  }
  .bg-third {
    background-color: $third-color;
  }
  
  
  .main-color {
    color: $main-color;
  }
  .secondary-color {
    color: $secondary-color;
  }
  .third-color {
    color: $third-color;
  }
  .fourth-color {
    color: $fourth-color;
  }